<app-container class="container">
    <div class="header">
        <div class="logo">
            <img src="assets/images/pactto-logo.svg" alt="Logo Pactto" />
            <button mat-icon-button (click)="closeDrawer()">
                <i class="material-icons">
                    close
                </i>
            </button>
        </div>
        <h2>YOUR PACTTO PROFILE</h2>
    </div>
    <section>
        <div class="profile">
            <a routerLink="/profile">
                <img src="assets/images/avatar-placeholder.png" alt="Profile image" />
            </a>
        </div>
        <div class="pro">
            <span>
                Trial: {{'X'}} days left
            </span>
            <span>
                PACTTO PRO
            </span>
        </div>
        <a routerLink="/profile">upgrade</a>
    </section>
    <div class="info-holder">
        <h1>
            Nome Sobrenome
        </h1>
        <span>
            Pactto member since {{"2024"}}
        </span>
    </div>
</app-container>