.container {
    margin: 0;
    padding: 2.3rem 2rem;
    color: #fff;
    gap: 1rem;

    .title{
        display: flex;
        align-items: center;

        h1 {
            font: bold 2rem 'Roboto', 'Helvetica Neue', 'sans-serif';
        }
    }

    .not-found{
        padding-top: 1rem;
        display: flex;
        justify-content: center;
    }
}