.container {
    margin: 0;
    padding: 1.1rem 2rem;
    color: #fff;
    gap: 1rem;


    h1 {
        font: bold 2rem 'Roboto', 'Helvetica Neue', 'sans-serif';
    }

    div{
        padding-top: 1rem;
        display: flex;
        justify-content: center;
    }
}