<div>
    <div>
        <img src="" alt="" />
        <button mat-button>
            <i class="material-icons">
                close
            </i>
        </button>
    </div>
    <h2>YOUR PACTTO PROFILE</h2>
</div>
<div class="profile">
    <img src="" alt="" />
    <div>
        <span>
            Trial: {{'X'}} days left
        </span>
        <span>
            PACTTO PRO
        </span>
    </div>
    <a routerLink="">upgrade</a>
</div>
<div>
    <span>
        Nome Sobrenome
    </span>
    <span>
        Pactto member since {{"2024"}}
    </span>
</div>