<mat-drawer-container class="drawer-container" autosize hasBackdrop="false" color="primary">
    <mat-drawer #drawer class="drawer" mode="side" [(opened)]="openDrawer" back color="secondary">
        <app-nav-header (onCloseDrawer)="closeDrawer()"/>
        <mat-nav-list>
            @for (item of items; track $index; let index = $index) {
                <app-list-item 
                    [routerLink]="item.routerLink" 
                    [icon]="item.icon" 
                    [text]="item.text" 
                    (itemClicked)="setActiveItem(index)"
                    [isActive]="selectedIndex===index"
                    />
            }
        </mat-nav-list>
        <div>
            <app-button text="LOGOUT" [colorCss]="buttonColor"/>
        </div>
    </mat-drawer>

    <div class="drawer-content">
        <!--<button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>-->
        <router-outlet/>
    </div>
</mat-drawer-container>