//Define colors
$primary-sat: #ffba03; //sat from saturated
$primary-dark: #000;
$primary-gray: #191d1f;

$secondary-sat: #ffdd81;
$secondary-dark: #b1b8b8;
$secondary-gray: #f3f3f2;

$accent-blue: #1cbaa6;
$accent-red: #d92336;
$accent-green: #7e9c3d;