@use '../../../../styles/colors/main-colors.scss' as main-colors;

.card{
    width: 220px;
    height: 320px;
    background-color: #121212;

    img{
        width: 100%;
        height: 40%;
    }

    mat-card-header{
        h1{
            color: #fff;
            font-weight: normal;
        }
        margin: 0;
    }

    mat-card-content{
        span{
            color: #{main-colors.$secondary-dark};
        }
        .tags-container{
            display: flex;
            margin-top: 1rem;
        }
    }
}